<head>
        <title>{{ title }}</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </head>
   <nav>
        <div class="nav-wrapper" style="background-color: #554605">
            <a href="#" class="brand-logo white-text">{{Logo}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="white-text"  href="sass.html">Home</a></li>
            <li><a  class="white-text" href="badges.html">About</a></li>
            <li><a class="white-text" href="collapsible.html">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    